*{
  box-sizing:border-box;
}
.scroll-content{
  overflow-y: hidden !important;
}

#selectTextureGrid{
  width:100%;
  height:100%;
  padding:0;
  #imageRow{
    width:100%;
    height:48%;
    div,img{
      width:100%;
      height:100%;
    }
  }
  #questionRow{
    width:100%;
    height:52%;
    #question{
      margin-bottom:12%;
      margin-top:12%;
      h3{
        font-family: 'Mallanna';
        // 'Raleway' 'Open Sans'
        text-align:center;
        color:#293D59;
        margin:auto;
      }
    }
    .button-holder{
      margin-bottom:7%;
      button{
        margin:auto;
        width:70%;
        background-color: #293D59;
        border-radius:15px;
      }
    }
  }
}