ion-content.addMargin{
  .fixed-content, .scroll-content{
    margin-bottom:56px;
  }
}

ion-card {
  position: relative;
  text-align: center;
  height:150px;
  transition: border .1s;
  &.selected{
    border-width: 5px;
    border-style:solid;
    transition: border .1s;
  }
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

#color-panel{
  border:1px solid red;
  background-color:yellow;
}

ion-toolbar{
  transition: height 2s, opacity 2s !important;
}

#noMatch{
  height:100px;
  background-color:darkslategrey; 
  border-color:#333333;
}