 <ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header> 

<ion-content>
  <ion-grid id="selectTextureGrid">
    <ion-row id="imageRow"> <!-- First partition 50% of screen; show Img/color  -->
      <img *ngIf="imageSRC" src="imageSRC">
      <div *ngIf="!imageSRC" [ngStyle]="{'background-color':selectedColor.hex}" > </div>
    </ion-row>
  
    <ion-row id="questionRow"> <!-- Second 50% of screen; show questions/answers  -->
      <ion-grid>

        <ion-row id="question">
          <h3>{{currentQuestion}}</h3>
        </ion-row>

        <ion-row class="button-holder">
          <button ion-button (click)="onClick('yes')">Yes</button>
        </ion-row>

        <ion-row class="button-holder">
          <button ion-button (click)="onClick('no')">No</button>
        </ion-row>

      </ion-grid>

    </ion-row>

  </ion-grid>

</ion-content>