@import "../../app/app";

ion-header{
	ion-navbar{
		.toolbar-background{
			background-color: #4D648D !important;
		}
		.toolbar-content{
			ion-title{
				.toolbar-title{
					color: white !important;
				}
			}
		}
	}
}

ion-content.content{
	background-color: #F69454 !important;
	&.addMargin{
		&.content-ios{
			.fixed-content, .scroll-content{
			    margin-bottom:44px; 
			}
		}
		&.content-md{
			.fixed-content, .scroll-content{
			    margin-bottom:56px; 
			}
		}
	}
	&:not(.addMargin){
		.fixed-content, .scroll-content{
			margin-bottom:0px;
		}
	}
	&.content-ios{
		div.scroll-content{
			height:calc(100%-44px);
		}
	}
	&.content-md{
		div.scroll-content{
			height:calc(100%-56px);
		}
	}
}

#content-holder{
	text-align:center;
	background-color:#fafafa;
	border: 4px solid #dedede;
	ion-icon{
		font-size: 196px;
		&#green{
			color:#3ed96a;
		}
		&#yellow{
			color:#FEC03C;
		}
		&#red{
			color:#f24044;
		}
	}
	h3{
		font-size:4.8rem;
		font-family: 'Raleway', sans-serif;
		color:#393939;
	}
	#diagnosis-text{
		padding: 14px 10px 30px;
		color:#333333;
		font-size: 1.9rem;
		font-family: 'Open Sans', sans-serif;
		text-align:center;
		margin:0px;
	}
}
