<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diagnosis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [style.background]="selectedColor.hex" class="picNstuff">
    <img *ngIf="imageSRC" [src]="imageSRC" alt="Your Picture">
    <div *ngIf="!imageSRC"></div>
  </div>
  <div id="content-holder">
    <span *ngIf="severity==='Green'">
      <ion-icon id="green" ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
      <h3>All good!</h3>
    </span>
    <span *ngIf="severity==='Yellow'">
      <ion-icon id="yellow" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
      <h3>Be careful!</h3>
    </span>
    <span *ngIf="severity==='Red'">
      <ion-icon id="red" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      <h3>Uh-oh!</h3>
    </span>
    <p id="diagnosis-text">{{text}}</p>
  </div>
  
  <div class="link" >
  <a href="tel:1234567890">
    <button ion-button>CALL THE DOCTOR</button>
  </a>
</div>

  <div class="flex">
    <div>
      <button ion-button icon-only color="gray" (click)='backToRoot()'>
        <ion-icon name="refresh"></ion-icon>
      </button>
      <p>RESTART</p>
    </div>
    <div>
      <button ion-button icon-only color="gray" (click)='shareMe()'>
        <ion-icon name="share"></ion-icon>
      </button>
      <p>SHARE</p>
    </div>
  </div>
</ion-content>