$_darkblue: #364F6B;
$_lightblue: #3FC1C9;
$_silver: #F5F5F5;
$_pink: #FC5185;
$_green: #46BC99;


ion-card {
  position: relative;
  text-align: center;
  height:150px;
  transition: border .1s;
  margin-bottom:20px;
  &.selected{
    border-width: 5px;
    border-style:solid;
    transition: border .1s;
  }
}

ion-row{
  &.buffer{
    height:5vh;
  }
}

ion-header{
  ion-navbar{
    .toolbar-background{
      background-color: $_lightblue !important;
    }
    .toolbar-content{
      text-align: center !important;
      #boopLogo{
        max-width:100px;
        padding-top:5px;
        margin:auto;
        vertical-align: middle;
      }
      ion-title{
        .toolbar-title{
          color: white !important;
        }
      }
    }
  }
}

#selectColorGrid{
  #instructionRow{
    padding-top:15px;
    ion-col{
      text-align:center !important;
    }
    .instruction{
      color:$_darkblue;
      font-family: 'Mallanna';
      font-size:1.2em;
      margin:0;
    }
  }
  #imageRow{
    ion-col{
      text-align:center !important;
      .imgHolder{
        margin:auto;

        display:table;
        >div{
          display:table-cell;
          vertical-align: middle;
          
        }
        @media all and (max-width: 560px) {
            width: 35vw;
            height: 35vw
        }
        @media all and (min-width: 560px) {
            width: 22.5vw;
            height: 22.5vw
        }
      }
    }
  }
}

#selectColorGrid2{
  width:100%;
  padding:0px;
  #swatchesRow{
    width:100%;
    padding:0px;
    #swatchesGrid{
      width:100%;
      padding:0px;
      ion-row{
        padding:8px 12px;
      }
      .instruction{
        width:100%;
        font-size:1.2em;
        background-color:$_darkblue;
        color:white;
        text-align:center;
        padding:5px;
        font-family: 'Mallanna';
      }
      ion-col{
        border-radius:10px;
      }
    }
    p{
      margin:0px auto 10px;
    }
    // height:50vh;
    ion-row{
      height:27vw;
      padding:8px;
    }
  }
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

#color-panel{
  border:1px solid red;
  background-color:yellow;
}

ion-toolbar{
  transition: height 2s, opacity 2s !important;
}