<ion-header>
  <ion-navbar>
    <ion-title>Select Color</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="dark" (click)="onClickCamera()">
        <ion-icon id="camera-icon" ios="ios-camera" md="md-camera" (click)="onClickCamera()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="{'addMargin':selectedColor}"  padding>
  
  <!-- For illustration/testing purposes only:
  <img [src]="base64Image" *ngIf="base64Image"/>
  <p>base64Image is: {{base64Image}}</p> -->

  <ion-card *ngFor="let color of colors" [ngStyle]="{'background-color':color.hex, 'border-color':this.borderColors[color.hex.substring(1)]}" (click)="onClick(color)" [ngClass]="{'selected':(color===selectedColor)}">
    <div class="card-title" [ngStyle]="{'color':this.fontColors[color.hex.substring(1)]}">{{color.name}}</div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="selectedColor">
    <ion-buttons end>
    	<button ion-button icon-right color="royal" (click)='onClickContinue()'>
    		<ion-icon ios="ios-square" md="md-square" style="margin-right:5px;" [ngStyle]="{'color':selectedColor.hex}"></ion-icon>
    		Continue
    		<ion-icon name="arrow-forward"></ion-icon>
		</button>
	 </ion-buttons>
  </ion-toolbar>
</ion-footer>	