ion-card {
  position: relative;
  text-align: center;
  height:150px;
  transition: border .1s;
  margin-bottom:20px;
  &.selected{
    border-width: 5px;
    border-style:solid;
    transition: border .1s;
  }
}

ion-row{
  &.buffer{
    height:5vh;
  }
}

.instruction{
  color:#9F9F9F;
}

#selectColorGrid{
  #imageRow{
    ion-col{
      text-align:center !important;
      .imgHolder{
        margin:auto;

        display:table;
        >div{
          display:table-cell;
          vertical-align: middle;
          
        }

        @media all and (max-width: 560px) {
            width: 35vw;
            height: 35vw
        }
        @media all and (min-width: 560px) {
            width: 22.5vw;
            height: 22.5vw
        }
        // img{
        //   width:22.5vw;
        // }
        background-color:white;
        border:1px solid #333333;
      }
    }
  }
  #swatchesRow{
    p{
      margin:0px auto 10px;
    }
    // height:50vh;
    ion-row{
      height:33vw;
      padding:8px;
    }
  }
}

.card-title {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

#color-panel{
  border:1px solid red;
  background-color:yellow;
}

ion-toolbar{
  transition: height 2s, opacity 2s !important;
}