 <ion-header>
  <ion-navbar>
    <ion-title>Find the Color</ion-title>
  <!--  <ion-buttons right>
      <button ion-button icon-only color="dark" (click)="onClickCamera()"> 
        <ion-icon id="camera-icon" ios="ios-camera" md="md-camera" (click)="onClickCamera()"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header> 
<!-- <ion-content [ngClass]="{'addMargin':selectedColorHex}"  padding> -->
<ion-content padding>
  
  <ion-grid id="selectColorGrid">
    <!-- <ion-row class="buffer"></ion-row> -->
    <ion-row id="imageRow"> <!-- First partition 50% of screen  -->
      <ion-col col-6>
        <div>
          <p class="instruction">Take photo</p>
        </div>
      </ion-col>
      <ion-col col-6>
        <div>
          <p class="instruction">Upload from gallery</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row id="imageRow"> <!-- First partition 50% of screen  -->
      <ion-col col-6>
        <div>
          <!-- <p class="instruction">Take photo</p> -->
          <div class="imgHolder">
            <div>
              <img padding src="../../assets/imgs/camera_icon.png" (click)="onClickCamera()">
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col col-6>
        <div>
          <!-- <p class="instruction">Upload from gallery</p> -->
          <div class="imgHolder">
            <div>
              <img padding src="../../assets/imgs/boop_logo.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="buffer">
    </ion-row>

    <ion-row id="swatchesRow">
      <ion-grid id="swatchesGrid">
        <p class="instruction">Or select poop color</p>
        <ion-row *ngFor="let row of colorGridRows">
          <ion-col col-1></ion-col>
          <ion-col *ngFor="let color of row.slice(0,1)" col-4 [ngStyle]="{ 'background-color':color.hex, 'border':((color.hex=='#f6f6f6')?'1px solid #ddd':'0px') }" (click)="onClick(color)">
          </ion-col>
          <ion-col *ngFor="let color of row.slice(1)" col-4 offset-2 [ngStyle]="{'background-color':color.hex}" (click)="onClick(color)">
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row class="buffer"></ion-row>
  </ion-grid>

  <!--
    <p>For illustration/testing purposes only: </p>
  -->
  <!-- <img [src]="base64Image" *ngIf="base64Image" style="width:128px;height:128px;"/> -->
  <!-- <p *ngIf="selectedColorHex">The selected color is: 
    <ion-icon ios="ios-square" md="md-square" style="margin-right:5px;" [ngStyle]="{'color':selectedColorHex}"></ion-icon>
  </p> -->
  
  <!-- <button block ion-button (click)='upload()'>Upload</button>     
  <button block ion-button (click)='analyze()'>Analyze</button> -->
    
  
  <!-- <ion-card *ngFor="let color of colors" [ngStyle]="{'background-color':color.hex}" (click)="onClick(color)" [ngClass]="{'selected':(color.hex===selectedColorHex)}"> </ion-card> -->

</ion-content>

<!-- <ion-footer>
  <ion-toolbar *ngIf="selectedColorHex">
    <ion-buttons end>
    	<button ion-button icon-right color="royal" (click)='onClickContinue()'>
    		<ion-icon ios="ios-square" md="md-square" style="margin-right:5px;" [ngStyle]="{'color':selectedColorHex}"></ion-icon>
    		Continue
    		<ion-icon name="arrow-forward"></ion-icon>
		</button>
	 </ion-buttons>
  </ion-toolbar>
</ion-footer>	
 -->